body {
    background-color: black;
    color: ghostwhite;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

.card {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    padding: 10px;
    border-radius: 10px;
    /* margin: 10px auto; */
    min-width: 300px;
    width: fit-content;
}

.Feedback-Form {
    background-color: lightcoral;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

input,
textarea,
button {
    background-color: ghostwhite;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button,
input[type="submit"],
input[type="reset"] {
    font-weight: bold;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: transparent;
    border: 2px solid ghostwhite;
    padding: 8px;
}

header {
    background-color: lightblue;
    color: black;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

header>span {
    font-size: large;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#FeedbackList {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (width <=520px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    .card {
        width: 100%;
    }
}